/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.header {
  display: flex;
  flex-direction: row;
  background: black;
  padding: 30px;
}
.shako .active {
  color: yellow;
}
.shako {
  list-style: none;
  width: 100px;
  text-decoration: none;
}
.shako1 {
  display: flex;
  
  
}
.shako a {
  text-decoration: none;
  color: white;
}
